.Menu {
    width: 100%;
}

.menu-button {
    font-family: Jost;
    font-size: 24px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: solid 1px grey;
    border-radius: 10px;
    box-sizing: border-box;
}

.menu-options {
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px grey;
    border-radius: 10px;
    text-align: left;
    z-index: 1;
}

.menu-option {
    margin: 5px;
    cursor: pointer;
}

.Menu:hover .menu-options {
    visibility: visible;
}
