.Settings {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    font-family: Jost;
    font-size: 32px;
}

.color-settings, .type-settings {
    text-align: center;
    padding: 50px;
    margin: 50px;
    width: 75%;
    animation: fadeIn 1s;
}

.setting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.setting {
    font-size: 24px;
    text-align: center;
    padding: 0px;
    margin: 25px;
}

.setting p {
    margin: 5px;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
}