.Words {
    font-family: Jost;
    font-size: 24px;
    text-align: left;
    width: 50%;
}

.Line {
    animation: grow-height 0.5s, fade-in 0.5s;
    max-height: 45px;
    transition: 0.5s;
    overflow: hidden;
}

.Line.inactive {
    opacity: 0;
    max-height: 0px;
    margin: 0px;
    transition: 0.5s
}

.notTyped {
    display: inline-block;
    overflow: hidden;
    transition: 0.2s;
}

.correct {
    display: inline-block;
    overflow: hidden;
    transition: 0.2s;
}

.incorrect {
    display: inline-block;
    overflow: hidden;
    max-width: 20px;
    animation: grow-width 0.2s;
}
