
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.Display {
    font-family: Jost;
    font-size: 36px;
    color: white;
    width: 5vw;
    text-align: center;
}