@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.Input {
    font-family: Jost;
    font-size: 24px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: solid 1px grey;
    border-radius: 10px;
}

.Input[type=number]::-webkit-inner-spin-button,
.Input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}