@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

input {
    font-family: Jost;
    font-size: 24px;
    padding: 0px;
    margin: 5px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: solid 1px grey;
    border-radius: 10px;
}