.Type {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    outline: none;
}

.Words {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: fade-in 1s ease-in;
}

.info {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    animation: fade-in 1s ease-in;
}
